branches:
  only:
  - main
language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  - buildozer android debug
deploy:
  provider: releases
  api_key: "$GITHUB"
  file_glob: true
  file: "bin/*.apk"
  skip_cleanup: true
  on:
    branch: main
    tags: false
